Repository amondnet/spec-kit-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli, sync-plugin

feat(sync): add automatic label creation for issues and subtasks (#12)
  .claude/settings.json
  example/.specify/config.yml
  example/specs/001-test-feature/plan.md
  example/specs/001-test-feature/spec.md
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/test/adapters/github.adapter.test.ts
Due: sync-plugin

docs: add commit convention rules to standards document
  STANDARDS.md
Due: none

ci: refactor review workflow conditions for clarity and maintainability
  .github/workflows/claude-code-review.yml
Due: none

fix: GitHub sync plugin now uses configured repository (#27)
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/test/adapters/github.adapter.test.ts
  plugins/sync/test/adapters/github.api.test.ts
Due: sync-plugin

docs: add roadmap for sync plugin development and future enhancements
  plugins/sync/ROADMAP.md
Due: sync-plugin

ci: add issue triage workflow and update Claude configuration
  .claude/commands/label-issue.md
  .github/workflows/claude.yml
  .github/workflows/issue-triage.yml
Due: none

docs: update implementation roadmap with revised timelines
  plugins/sync/ROADMAP.md
Due: sync-plugin

fix: sync plugin now persists frontmatter updates to disk after push (#29)
  plugins/sync/src/core/sync-engine.ts
Due: sync-plugin

docs: update roadmap with revised feature priorities and implementation details
  plugins/sync/ROADMAP.md
Due: sync-plugin

chore: update repository name in configuration file
  example/.specify/config.yml
Due: none

chore: update sync metadata in spec file
  example/specs/001-test-feature/spec.md
Due: none

Update package names in release-please config
  release-please-config.json
Due: none

Fix pull request title pattern in config
  release-please-config.json
Due: none

fix: sync_hash generation produces 12 characters instead of 8 (#33)
  plugins/sync/src/core/sync-engine.ts
  plugins/sync/test/core/sync-engine.test.ts
Due: sync-plugin

test: add MockGitHubClient for enhanced unit testing of GitHubClient methods
  .editorconfig
  plugins/sync/bunfig.toml
  plugins/sync/test/adapters/github.api.test.ts
Due: sync-plugin

Add qodana.yaml file
  qodana.yaml
Due: none

Add github workflow file
  .github/workflows/qodana_code_quality.yml
Due: none

chore: add eslint configuration with custom rules
  packages/cli/eslint.config.mjs
  packages/scripts/eslint.config.mjs
Due: cli

chore: add connected mode configuration and update qodana.yaml
  .sonarlint/connectedMode.json
  qodana.yaml
  yarn.lock
Due: none

chore: add .yarnrc.yml and update bun version handling in CI
  .bun-version
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: remove packageManager field from package.json
  package.json
Due: none

ci: update bootstrap command to use pnpm instead of yarn
  .github/workflows/qodana_code_quality.yml
  .yarnrc.yml
  qodana.yaml
  yarn.lock
Due: none

chore(qodana): add eslint check to qodana configuration
  qodana.yaml
Due: none

chore(qodana): update qodana action and linter version to 2025.2
  .github/workflows/qodana_code_quality.yml
  qodana.yaml
Due: none

chore: update packageManager to bun@1.2.22 and change bootstrap command
  package.json
  qodana.yaml
Due: none

chore(qodana): remove bootstrap command from qodana configuration
  qodana.yaml
Due: none

feat(sync): add GitHub CLI batch operations support for improved performance (#32)
  bun.lock
  plugins/sync/package.json
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
Due: sync-plugin

test: add MockGitHubClient (#38)
  .editorconfig
  plugins/sync/bunfig.toml
  plugins/sync/test/adapters/github.api.test.ts
Due: sync-plugin

docs: add comprehensive testing guidelines in TESTING.md
  CLAUDE.md
  README.md
  TESTING.md
Due: none

test(sync): add comprehensive tests for GitHubAdapter batch operations
  TESTING.md
  plugins/sync/test/adapters/github.adapter.batch.test.ts
  plugins/sync/test/adapters/github.adapter.comprehensive.test.ts
  plugins/sync/test/adapters/github.adapter.status.test.ts
  plugins/sync/test/adapters/github.adapter.test.ts
  plugins/sync/test/core/config-loader.test.ts
  plugins/sync/test/mocks/github-client.mock.ts
  plugins/sync/test/mocks/spec-mapper.mock.ts
Due: sync-plugin

docs: add TDD methodology and core principles to TDD.md
  CLAUDE.md
  TDD.md
Due: none

test(github): improve tests for GitHubAdapter and EnhancedMockGitHubClient
  plugins/sync/README.md
  plugins/sync/test/adapters/github.adapter.test.ts
Due: sync-plugin

test(sync): add unit tests for SpecToIssueMapper methods
  plugins/sync/test/adapters/github/mapper.test.ts
Due: sync-plugin

Remove future plugin configurations from README
  README.md
Due: none

feat(cli): implement command routing with official spec-kit integration
  CLAUDE.md
  README.md
  bun.lock
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tests/cli.test.ts
  packages/core/src/config/schemas.ts
  packages/official-wrapper/README.md
  packages/official-wrapper/eslint.config.js
  packages/official-wrapper/package.json
  packages/official-wrapper/src/executor.ts
  packages/official-wrapper/src/index.ts
  packages/official-wrapper/src/router.ts
  packages/official-wrapper/src/types.ts
  packages/official-wrapper/tests/executor.test.ts
  packages/official-wrapper/tests/integration.test.ts
  packages/official-wrapper/tests/router.test.ts
  packages/official-wrapper/tsconfig.build.json
  packages/official-wrapper/tsconfig.json
  plugins/sync/src/cli.ts
Due: core, cli, sync-plugin

feat(cli): implement command routing with official spec-kit integration
  packages/cli/test/cli.test.ts
  packages/cli/test/commands/check.test.ts
  packages/cli/test/commands/init.test.ts
  packages/cli/test/ui/Banner.test.ts
  packages/cli/test/ui/Console.test.ts
  packages/official-wrapper/bunfig.toml
  packages/official-wrapper/test/executor.test.ts
  packages/official-wrapper/test/integration.test.ts
  packages/official-wrapper/test/router.test.ts
Due: cli

feat(cli): implement command routing with official spec-kit integration (#39)
  CLAUDE.md
  README.md
  bun.lock
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/test/cli.test.ts
  packages/cli/test/commands/check.test.ts
  packages/cli/test/commands/init.test.ts
  packages/cli/test/ui/Banner.test.ts
  packages/cli/test/ui/Console.test.ts
  packages/core/src/config/schemas.ts
  packages/official-wrapper/README.md
  packages/official-wrapper/bunfig.toml
  packages/official-wrapper/eslint.config.js
  packages/official-wrapper/package.json
  packages/official-wrapper/src/errors.ts
  packages/official-wrapper/src/executor.ts
  packages/official-wrapper/src/index.ts
  packages/official-wrapper/src/router.ts
  packages/official-wrapper/src/types.ts
  packages/official-wrapper/test/executor.test.ts
  packages/official-wrapper/test/integration.test.ts
  packages/official-wrapper/test/router.test.ts
  packages/official-wrapper/tsconfig.build.json
  packages/official-wrapper/tsconfig.json
  plugins/sync/src/cli.ts
Due: core, cli, sync-plugin

refactor: mark tracker member as readonly in LiveDisplay class (#45)
  packages/cli/src/commands/init.ts
Due: cli

Update package paths in release-please config
  release-please-config.json
Due: none

Add token input to release-please action
  .github/workflows/release-please.yml
Due: none

Path conditions:
  core: any of: packages/core/
  cli: any of: packages/cli/
  sync-plugin: any of: plugins/sync/
