Repository amondnet/spec-kit-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli, sync-plugin

chore: release
  .release-please-manifest.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/official-wrapper/CHANGELOG.md
  packages/official-wrapper/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Due: core, cli

chore: release (#46)
  .release-please-manifest.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/official-wrapper/CHANGELOG.md
  packages/official-wrapper/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Due: core, cli

Refactor release-please-config structure and add type
  release-please-config.json
Due: none

docs: add npm version badges to README files
  packages/cli/README.md
  plugins/sync/README.md
Due: cli, sync-plugin

refactor(release-please): remove redundant pull request title patterns
  release-please-config.json
Due: none

feat(release-please): add component field to package configurations
  release-please-config.json
Due: none

feat(release-please): add node-workspace plugin to configuration
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

chore: release main
  .release-please-manifest.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  plugins/sync/CHANGELOG.md
  plugins/sync/package.json
Due: cli, sync-plugin

chore: release main (#47)
  .release-please-manifest.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  plugins/sync/CHANGELOG.md
  plugins/sync/package.json
Due: cli, sync-plugin

ci: update release workflow to use NODE_AUTH_TOKEN
  .github/workflows/release-please.yml
Due: none

feat(sync): add browsing and viewing commands to sync plugin
  bun.lock
  example/.claude/commands/plan.md
  example/.claude/commands/specify.md
  example/.claude/commands/tasks.md
  example/.specify/memory/constitution.md
  example/.specify/memory/constitution_update_checklist.md
  example/.specify/scripts/bash/check-task-prerequisites.sh
  example/.specify/scripts/bash/common.sh
  example/.specify/scripts/bash/create-new-feature.sh
  example/.specify/scripts/bash/get-feature-paths.sh
  example/.specify/scripts/bash/setup-plan.sh
  example/.specify/scripts/bash/update-agent-context.sh
  example/.specify/templates/agent-file-template.md
  example/.specify/templates/plan-template.md
  example/.specify/templates/spec-template.md
  example/.specify/templates/tasks-template.md
  example/specs/002-specs-browser/spec.md
  plugins/sync/package.json
  plugins/sync/src/commands/browse.command.ts
  plugins/sync/src/commands/list.command.ts
  plugins/sync/src/commands/view.command.ts
  plugins/sync/src/index.ts
  plugins/sync/src/types/index.ts
  plugins/sync/src/ui/SpecBrowser.ts
  plugins/sync/src/ui/SpecDetails.ts
  plugins/sync/src/ui/SpecTable.ts
  plugins/sync/test/commands/list.command.test.ts
  plugins/sync/test/ui/SpecDetails.test.ts
  plugins/sync/test/ui/SpecTable.test.ts
  specs/001-this-is-test/spec.md
Due: sync-plugin

feat(sync): add browsing and viewing commands to sync plugin
  plugins/sync/src/commands/browse.command.ts
  plugins/sync/src/commands/list.command.ts
  plugins/sync/src/commands/view.command.ts
  plugins/sync/src/index.ts
  plugins/sync/src/ui/SpecBrowser.ts
  plugins/sync/src/ui/SpecDetails.ts
  plugins/sync/test/commands/list.command.test.ts
Due: sync-plugin

feat(sync): add browsing and viewing commands to sync plugin
  CLAUDE.md
  plugins/sync/README.md
  plugins/sync/src/index.ts
Due: sync-plugin

docs: add development status warnings to all documentation (#53)
  README.md
  packages/cli/README.md
  packages/official-wrapper/README.md
  packages/scripts/README.md
  plugins/sync/README.md
Due: cli, sync-plugin

Change copyright from Spec-Kit to Passion Factory
  LICENSE
Due: none

feat(sync): add browsing and viewing commands to sync plugin (#50)
  CLAUDE.md
  bun.lock
  example/.claude/commands/plan.md
  example/.claude/commands/specify.md
  example/.claude/commands/tasks.md
  example/.specify/memory/constitution.md
  example/.specify/memory/constitution_update_checklist.md
  example/.specify/scripts/bash/check-task-prerequisites.sh
  example/.specify/scripts/bash/common.sh
  example/.specify/scripts/bash/create-new-feature.sh
  example/.specify/scripts/bash/get-feature-paths.sh
  example/.specify/scripts/bash/setup-plan.sh
  example/.specify/scripts/bash/update-agent-context.sh
  example/.specify/templates/agent-file-template.md
  example/.specify/templates/plan-template.md
  example/.specify/templates/spec-template.md
  example/.specify/templates/tasks-template.md
  example/specs/002-specs-browser/spec.md
  plugins/sync/README.md
  plugins/sync/package.json
  plugins/sync/src/commands/browse.command.ts
  plugins/sync/src/commands/list.command.ts
  plugins/sync/src/commands/view.command.ts
  plugins/sync/src/index.ts
  plugins/sync/src/types/index.ts
  plugins/sync/src/ui/SpecBrowser.ts
  plugins/sync/src/ui/SpecDetails.ts
  plugins/sync/src/ui/SpecTable.ts
  plugins/sync/test/commands/list.command.test.ts
  plugins/sync/test/core/sync-engine.test.ts
  plugins/sync/test/ui/SpecDetails.test.ts
  plugins/sync/test/ui/SpecTable.test.ts
  specs/001-this-is-test/spec.md
Due: sync-plugin

feat(sync): implement UUID generation and handling for spec files
  example/specs/001-test-feature/spec.md
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/src/adapters/github/uuid-utils.ts
  plugins/sync/src/core/frontmatter.ts
  plugins/sync/src/core/scanner.ts
  plugins/sync/src/schemas/spec.ts
  plugins/sync/test/adapters/github-uuid.test.ts
  plugins/sync/test/adapters/github.adapter.batch.test.ts
  plugins/sync/test/adapters/github.adapter.comprehensive.test.ts
  plugins/sync/test/adapters/github.adapter.status.test.ts
  plugins/sync/test/adapters/github.adapter.uuid-matching.test.ts
  plugins/sync/test/adapters/github/api-uuid.test.ts
  plugins/sync/test/adapters/github/uuid-utils.test.ts
  plugins/sync/test/core/frontmatter-uuid.test.ts
  plugins/sync/test/core/frontmatter.test.ts
  plugins/sync/test/core/scanner-uuid-simple.test.ts
  plugins/sync/test/core/scanner-uuid.test.ts
  plugins/sync/test/core/scanner.test.ts
  plugins/sync/test/fixtures/uuid-test-data/github-issue-with-uuid.json
  plugins/sync/test/fixtures/uuid-test-data/github-issue-without-uuid.json
  plugins/sync/test/fixtures/uuid-test-data/spec-with-invalid-uuid.md
  plugins/sync/test/fixtures/uuid-test-data/spec-with-valid-uuid.md
  plugins/sync/test/fixtures/uuid-test-data/spec-without-uuid.md
  plugins/sync/test/integration/uuid-integration.test.ts
  plugins/sync/test/migration/uuid-migration.test.ts
  plugins/sync/test/mocks/github-client.mock.ts
  plugins/sync/test/performance/uuid-performance.test.ts
  plugins/sync/test/schemas/spec-uuid.test.ts
Due: sync-plugin

Path conditions:
  core: any of: packages/core/
  cli: any of: packages/cli/
  sync-plugin: any of: plugins/sync/
