Repository amondnet/spec-kit-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli, sync-plugin

ci: upload coverage
  .github/workflows/ci.yml
Due: none

feat(sync): add spec synchronization plugin with GitHub integration
  .github/workflows/release-please.yml
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  plugins/sync/README.md
  plugins/sync/hooks/sync-on-edit.sh
  plugins/sync/hooks/sync-on-read.sh
  plugins/sync/package.json
  plugins/sync/src/adapters/base.adapter.ts
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/src/adapters/github/mapper.ts
  plugins/sync/src/cli.ts
  plugins/sync/src/config/loader.ts
  plugins/sync/src/core/frontmatter.ts
  plugins/sync/src/core/scanner.ts
  plugins/sync/src/core/sync-engine.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tsconfig.json
  spec-kit-modernization.md
Due: cli, sync-plugin

feat(github): add flexible label configuration for GitHub issues and subtasks
  CLAUDE.md
  bun.lock
  packages/core/src/config/index.ts
  packages/core/src/config/schemas.ts
  plugins/sync/README.md
  plugins/sync/package.json
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tests/adapters/github.adapter.test.ts
  plugins/sync/tests/config/loader.test.ts
Due: core, sync-plugin

feat(docs): add implementation and feature specification documents
  example/specs/001-test-feature/plan.md
  example/specs/001-test-feature/spec.md
Due: none

Update plugins/sync/src/cli.ts
  plugins/sync/src/cli.ts
Due: sync-plugin

build: update build scripts and add type declaration configuration
  packages/core/package.json
  packages/core/tsconfig.types.json
  plugins/sync/tsconfig.types.json
Due: core, sync-plugin

feat(config): enhance configuration management with new plugin interface and defaults
  bun.lock
  packages/core/package.json
  packages/core/src/config/config-manager.ts
  packages/core/src/config/index.ts
  packages/core/src/config/schemas.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/src/cli.ts
  plugins/sync/src/config/loader.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tests/config/loader.test.ts
Due: core, sync-plugin

build: update type declaration configuration in tsconfig.types.json
  packages/core/tsconfig.types.json
  plugins/sync/README.md
  plugins/sync/package.json
  plugins/sync/src/config/loader.ts
  plugins/sync/tests/adapters/github.adapter.test.ts
  plugins/sync/tsconfig.types.json
Due: core, sync-plugin

fix: handle edge cases for argument and directory name validation
  package.json
  packages/scripts/src/commands/createNewFeature.ts
  packages/scripts/src/core/SpecKitProject.ts
  packages/scripts/src/utils/file.ts
  packages/scripts/src/utils/path.ts
  packages/scripts/tests/contract/create_new_feature.test.ts
  packages/scripts/tests/contract/update_agent_context.test.ts
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/src/adapters/github/mapper.ts
  plugins/sync/src/cli.ts
  plugins/sync/src/core/scanner.ts
  plugins/sync/src/core/sync-engine.ts
  plugins/sync/src/schemas/spec.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tests/adapters/github.adapter.test.ts
  plugins/sync/tests/core/frontmatter.test.ts
  plugins/sync/tests/core/sync-engine.test.ts
  plugins/sync/tests/schemas/spec.test.ts
Due: sync-plugin

refactor(tests): reorganize test directory structure and update paths
  packages/scripts/bunfig.toml
  packages/scripts/package.json
  packages/scripts/test/compatibility/isolated.test.ts
  packages/scripts/test/contract-environment.ts
  packages/scripts/test/contract/check_prerequisites.test.ts
  packages/scripts/test/contract/create_new_feature.test.ts
  packages/scripts/test/contract/get_feature_paths.test.ts
  packages/scripts/test/contract/setup_plan.test.ts
  packages/scripts/test/contract/update_agent_context.test.ts
  plugins/sync/tsconfig.json
Due: sync-plugin

refactor(tests): reorganize test directory structure and update paths
  plugins/sync/tsconfig.json
Due: sync-plugin

build: include src and test directories in TypeScript configuration
  packages/scripts/tsconfig.json
Due: none

refactor(tests): rename test files for improved organization
  plugins/sync/test/adapters/github.adapter.test.ts
  plugins/sync/test/config/loader.test.ts
  plugins/sync/test/core/frontmatter.test.ts
  plugins/sync/test/core/scanner.test.ts
  plugins/sync/test/core/sync-engine.test.ts
  plugins/sync/test/fixtures/mock-adapter.ts
  plugins/sync/test/fixtures/test-data/invalid-frontmatter.md
  plugins/sync/test/fixtures/test-data/minimal-spec.md
  plugins/sync/test/fixtures/test-data/no-frontmatter.md
  plugins/sync/test/fixtures/test-data/valid-spec.md
  plugins/sync/test/fixtures/test-specs/001-test-feature/plan.md
  plugins/sync/test/fixtures/test-specs/001-test-feature/spec.md
  plugins/sync/test/fixtures/test-specs/002-another-feature/spec.md
  plugins/sync/test/fixtures/test-specs/003-feature-with-contracts/contracts/api.yaml
  plugins/sync/test/fixtures/test-specs/003-feature-with-contracts/contracts/contract.md
  plugins/sync/test/fixtures/test-specs/003-feature-with-contracts/spec.md
  plugins/sync/test/schemas/spec.test.ts
Due: sync-plugin

refactor(tests): rename test root directory from 'tests' to 'test'
  plugins/sync/bunfig.toml
Due: sync-plugin

ci: update test command to use coverage script
  .github/workflows/ci.yml
Due: none

build: add dependency for typecheck to build step
  turbo.json
Due: none

ci: configure release process with GitHub Actions and release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: configure release process with GitHub Actions and release-please (#4)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: fix secrets
  .github/workflows/release-please.yml
Due: none

Update release-please.yml
  .github/workflows/release-please.yml
Due: none

Fix NPM_TOKEN reference in release workflow
  .github/workflows/release-please.yml
Due: none

ci: fix formatting in release-please-config.json
  release-please-config.json
Due: none

ci: remove unnecessary outputs and build step from release-please workflow
  .github/workflows/release-please.yml
Due: none

chore(release): update package versions to 0.1.0 and change publish command to npm
  .github/workflows/release-please.yml
  .release-please-manifest.json
  packages/cli/package.json
  packages/core/package.json
Due: core, cli

ci: conditionally run steps based on release creation status
  .github/workflows/release-please.yml
Due: none

feat(sync): integrate spec kit plugin for synchronization with issue tracking platforms
  bun.lock
  example/.specify/config.yml
  package.json
  packages/cli/src/commands/sync.ts
  packages/cli/tsconfig.json
  plugins/sync/eslint.config.mjs
  plugins/sync/package.json
  plugins/sync/src/adapters/github/mapper.ts
  plugins/sync/src/cli.ts
  plugins/sync/src/index.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tsconfig.build.json
  plugins/sync/tsconfig.json
  plugins/sync/tsconfig.types.json
Due: cli, sync-plugin

style(eslint): disable no-console rule in eslint configuration
  plugins/sync/eslint.config.mjs
  plugins/sync/src/index.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tsconfig.build.json
  plugins/sync/tsconfig.json
Due: sync-plugin

feat(sync): integrate spec kit plugin for synchronization (#6)
  bun.lock
  example/.specify/config.yml
  package.json
  packages/cli/src/commands/sync.ts
  packages/cli/tsconfig.json
  plugins/sync/eslint.config.mjs
  plugins/sync/package.json
  plugins/sync/src/adapters/github/mapper.ts
  plugins/sync/src/cli.ts
  plugins/sync/src/index.ts
  plugins/sync/src/types/index.ts
  plugins/sync/tsconfig.build.json
  plugins/sync/tsconfig.json
Due: cli, sync-plugin

feat: add permissions and post-tool-use hooks to Claude settings
  .claude/settings.json
Due: none

docs(sync): add Codecov badge to README.md
  plugins/sync/README.md
Due: sync-plugin

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

ci: add claude GitHub actions 1757961929644 (#13)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: add review agents and adjust workflows
  .claude/agents/code-quality-reviewer.md
  .claude/agents/documentation-accuracy-reviewer.md
  .claude/agents/performance-reviewer.md
  .claude/agents/security-code-reviewer.md
  .claude/agents/test-coverage-reviewer.md
  .claude/commands/review-pr.md
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: none

ci: restrict Claude actions
  .github/workflows/claude.yml
Due: none

feat(sync): add automatic label creation for issues and subtasks
  example/.specify/config.yml
  example/specs/001-test-feature/plan.md
  example/specs/001-test-feature/spec.md
  plugins/sync/src/adapters/github/api.ts
  plugins/sync/src/adapters/github/github.adapter.ts
  plugins/sync/test/adapters/github.adapter.test.ts
Due: sync-plugin

feat(sync): enhance GitHub issue management with additional methods and caching for labels
  .claude/settings.json
  plugins/sync/src/adapters/github/api.ts
Due: sync-plugin

Path conditions:
  core: any of: packages/core/
  cli: any of: packages/cli/
  sync-plugin: any of: plugins/sync/
